/AstArangoDbConnector/.vs/*
/AstGraphDbConnector/AstArangoDbConnector/bin/*
/AstGraphDbConnector/AstArangoDbConnector/obj/*
/AstGraphDbConnector/AstArangoDbConnector/*.user
/AstGraphDbConnector/AstTests/obj
/AstGraphDbConnector/.vs/AstGraphDBConnector/DesignTimeBuild
/AstGraphDbConnector/.vs/AstGraphDBConnector/v15
/AstGraphDbConnector/AstTests/bin/Debug/netcoreapp2.1
/AstGraphDbConnector/AstRoslyn/obj
/AstGraphDbConnector/AstShared/bin/Debug/netcoreapp2.1
/AstGraphDbConnector/AstShared/obj
/AstGraphDbConnector/AstRoslyn/bin/Debug/netcoreapp2.1
